
/* Styles for mobile devices */
/* Styles for iPhone 12 mini screen */
@media (max-width: 666px) 
{
   body {
        margin: 0; /* Add margin 0 to remove default body margin */
       padding: 0;
 background-color: #0b1b3f;
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-size: cover;
}
    .module {
        
  background: url(background.png) no-repeat center/cover;
  background-attachment: fixed;
  background-position: center top 50px;
  overflow: hidden;
}
    

  header { 
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the left and right */
}

.logo {
  width: 60px; /* Adjust the width as needed */
}

.logo img {
  width: 100%;
}

.title {
  margin-left: 10px; /* Adjust the margin as needed */
}

.title h1 {
    text-shadow: 0 1px 0 black;
  font-size: 24px;
  margin: 0;
  color: #fff;
}

header h1 {
  font-size: 20px;
  margin: 0;
  color: #fff;
}

header nav {
  position: relative;
    right: -10px;
    
}

header nav ul {
    
  display: none;
  position: absolute;
  top: 100%;
  right: -10px;
  background-color: transparent;
  padding: 10px;
  margin: 35;
  list-style-type: none;
  text-align: right; /* Align menu items to the right */
}

header nav ul li {
  margin-bottom: 10px;
}

header nav ul li a {
    text-shadow: 0 1px 0 black;
  display: block;
  font-size: 20px;
  padding: 5px ;
  color: #fff;
  text-decoration: none;
}
   

header nav input[type="checkbox"] {
  display: none;
}

header nav label {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}
   

/* Show the menu when checkbox is checked */
header nav input[type="checkbox"]:checked ~ ul {
  display: block;
    
}
 
 #about {
  text-shadow: 0 1px 0 black;
  margin-top: 40vh; /* Adjust the percentage for smaller screens */
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%; /* Adjust the max-width as needed */
}

#about p {
  text-align: center;
  line-height: 1.8;
  position: relative;
}

.module > #about {
  text-shadow: 0 1px 0 black;
  padding: 10px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background: inherit;
  background-attachment: fixed;
}

.module > #about::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80vw; /* Adjust the width as needed */
  height: 99%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
}


  /* Service section styles */
  #services {
  text-shadow: 0 1px 0 black;
  color: #fff;
margin-left: 0;
  margin-right: 0;
  text-align: center;
  position: relative;
  overflow: hidden;  
      
    }

#services h2 {
    text-shadow: 0 1px 0 black;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #F9A825;
  border: 2px solid #0e1c41;
  border-radius: 5px;
  background-color: #FDF5E6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  
}
    
    #services h3 {
text-shadow: 0 1px 0 black;
  font-size: 25px;
  text-align: left;
  color: #F9A825;
  margin: auto 10px;
}
    #services p {
  font-size: 20px;
  text-align: left;
  color: #fff;
text-shadow: 0 1px 0 black;
  margin: 5px 15px;
}
.service-item {
  display: flex;
  align-items: center;
    margin-top: 30px;
  margin-bottom: 30px;
}
.service-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
    
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
    margin-left: 6px
   
}
.service-title {
  font-weight: bold;
}

  /* Pricing section styles */
 #pricing {
  text-shadow: 0 1px 0 white;
  margin-top: 5vh;
  padding: 10px;
  color: #000;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#pricing h1 {
  font-size: 30px;
  text-align: center;
  color: #F9A825;
  padding: 10px;
  border: 2px solid #F9A825;
  border-radius: 5px;
  background-color: #FDF5E6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.pricing-package {
  width: 100%;
  max-width: 600px;
  margin: 40px 5vh;
  padding: 20px;
  background-color: #FDF5E6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pricing-package h3 {
    
  font-size: 25px;
  margin-top: 0;
  font-weight: bold;
  color: #F9A825;
}

.pricing-package ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

.pricing-package li {
  margin-bottom: 10px;
}

.pricing-package p.price {
  font-size: 20px;
  font-weight: bold;
  color: #F9A825;
  margin-bottom: 10px;
}

.pricing-package a.btn {
  display: inline-block;
  background-color: #F9A825;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pricing-package a.btn:hover {
  background-color: #fff;
  color: #F9A825;
  border: 2px solid #F9A825;
}

.divider {
  display: none;
}


  /* Contact section styles */
  #contact {
      text-shadow: 0 1px 0 black;
  
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    background-color: transparent;
    
  }

  .contact-info i {
      background-color: transparent;
    margin-right: 3px;
  }

  .contact-form input,
  .contact-form textarea {
      background-color: transparent;
    font-size: 16px;
    padding: 8px;
  }

  .contact-form button {
      background-color: transparent;
    padding: 8px 16px;
  }

  /* Footer styles */
  footer {
         text-shadow: 0 1px 0 black;
  
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    background-color: transparent;
    padding: 10px;
  }
}





/* Styles for tablets */
@media (min-width: 667px) and (max-width: 1023px) {
 
   body {
       margin: 0;
       padding: 0;
 background-color: #0b1b3f;
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-size: cover;
}
     .module {
  background: url(background.png) no-repeat center/cover;
  background-attachment: fixed;
  background-position: center top 50px;
  overflow: hidden;
}
  header {
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the left and right */
}

.logo {
  width: 60px; /* Adjust the width as needed */
}

.logo img {
  width: 100%;
}

.title {
  margin-left: 10px; /* Adjust the margin as needed */
}

.title h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

header h1 {
  font-size: 20px;
  margin: 0;
  color: #fff;
}

header nav {
  position: relative;
    right: -10px;
}

header nav ul {
  display: none;
  position: absolute;
  top: 100%;
  right: -10px;
  background-color: transparent;
  padding: 10px;
  margin: 35;
  list-style-type: none;
  text-align: right; /* Align menu items to the right */
}

header nav ul li {
  margin-bottom: 10px;
}

header nav ul li a {
  display: block;
  font-size: 20px;
  padding: 5px ;
  color: #fff;
  text-decoration: none;
}

header nav input[type="checkbox"] {
  display: none;
}

header nav label {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* Show the menu when checkbox is checked */
header nav input[type="checkbox"]:checked ~ ul {
  display: block;
}

  /* About section styles small screens */
  #about {
  text-shadow: 0 1px 0 black;
   margin-top: 40vh; /* Adjust the percentage for smaller screens */
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%; /* Adjust the max-width as needed */
}

#about p {
  text-align: center;
  line-height: 1.8;
  position: relative;
}

.module > #about {
  text-shadow: 0 1px 0 black;
  padding: 30px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background: inherit;
  background-attachment: fixed;
}

.module > #about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 30px); /* Adjust the height to include the bottom padding of #about */
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
}
 
  /* Service section styles */
  #services {
  text-shadow: 0 1px 0 black;
  padding: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;  
    }

#services h2 {
    text-shadow: 0 1px 0 black;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #F9A825;
  padding: 10px;
  border: 2px solid #0e1c41;
  border-radius: 5px;
  background-color: #FDF5E6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
}
    
    #services h3 {
        text-shadow: 0 1px 0 black;
  font-size: 25px;
  text-align: left;
  color: #F9A825;
  margin: auto 10px;
}
    #services p {
  font-size: 20px;
  text-align: left;
  color: #fff;
        text-shadow: 0 1px 0 black;
  margin: 5px 10px;
}
.service-item {
  display: flex;
  align-items: center;
    margin-top: 60px;
  margin-bottom: 30px;
}
.service-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
    
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
}

.service-title {
  font-weight: bold;
}
   
  /* Pricing section styles */
 #pricing {
  padding: 20px;
 
}

#pricing h1 {
  font-size: 25px;
  text-align: center;
  color: #F9A825;
  padding: 10px;
  border: 2px solid #F9A825;
  border-radius: 5px;
  background-color: #FDF5E6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.pricing-package {
  width: 100%;
  max-width: 300px;
  margin: 40px;
  padding: 20px;
  background-color: #FDF5E6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pricing-package h3 {
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
  color: #F9A825;
}

.pricing-package ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

.pricing-package li {
  margin-bottom: 10px;
}

.pricing-package p.price {
  font-size: 20px;
  font-weight: bold;
  color: #F9A825;
  margin-bottom: 10px;
}

.pricing-package a.btn {
  display: inline-block;
  background-color: #F9A825;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pricing-package a.btn:hover {
  background-color: #fff;
  color: #F9A825;
  border: 2px solid #F9A825;
}

.divider {
  display: none;
}


  /* Contact section styles */
  #contact {
      text-shadow: 0 1px 0 black;
  
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    background-color: transparent;
    
  }

  .contact-info i {
    margin-right: 3px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
    padding: 8px;
  }

  .contact-form button {
    padding: 8px 16px;
  }

  /* Footer styles */
  footer {
         text-shadow: 0 1px 0 black;
  
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    background-color: transparent;
    padding: 10px;
  }
    
}









/* Styles for desktop devices */
@media (min-width: 1024px) {
/* Add your desktop styles here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


   body {
 background-color: #0b1b3f;
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  background-size: cover;
}
    .module {
  background: url(background.png) no-repeat center/cover;
  background-attachment: fixed;
  background-position: center top 0.10px;
  overflow: hidden;
}



/* Header styles optimized for desktop screens */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b1b3f;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 0px; /* Adjust the border-radius value as needed */
  z-index: 999; /* Ensure the header appears above other content */
}

.logo {
  width: 100px; /* Adjust the width as needed */
}

.logo img {
  width: 100%;
}

.title {
  margin-left: 10px; /* Adjust the margin as needed */
}

.title h1 {
  font-size: 25px;
  margin: 0;
  color: #fff;
}

nav {
  margin-left: auto; /* Align navigation to the right */
}

nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex; /* Use flexbox for spacing */
  justify-content: flex-end; /* Align items to the right */
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease; /* Added transition property */
}

nav ul li a:hover {
  background-color: turquoise;
  color: #0b1b3f;
  border-radius: 50px;
}

header nav input[type="checkbox"],
header nav label {
  display: none;
}


/* About section styles optimized for desktop screens */
#about {
  text-shadow: 0 1px 0 black;
  margin-top: 500px;
  padding: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;  
}

#about p {
  line-height: 1.8;
  margin-bottom: 10px;
  position: relative;
}
.module > #about {
text-shadow: 0 1px 0 black;
  padding: 10px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}
.module > #about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
} 
#about a.btn {
  display: inline-block;
  background-color: #F9A825;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#about a.btn:hover {
  background-color: #fff;
  color: #F9A825;
  border: 2px solid #F9A825;
    
}



/* Service section styles desktop*/
/* Service section styles */
  #services {
  text-shadow: 0 1px 0 black;
  
  padding: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;  
    }

#services h2 {
    text-shadow: 0 1px 0 black;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #F9A825;
  padding: 10px;
  border: 2px solid #0e1c41;
  border-radius: 5px;
  background-color: #FDF5E6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
}
    
    #services h3 {
        text-shadow: 0 1px 0 black;
  font-size: 25px;
  text-align: left;
  color: #F9A825;
  margin: auto 10px;
}
    #services p {
  font-size: 20px;
  text-align: left;
  color: #fff;
        text-shadow: 0 1px 0 black;
  margin: 5px 10px;
}
.service-item {
  display: flex;
  align-items: center;
    margin-top: 30px;
  margin-bottom: 30px;
   padding: 10px; 
}
.service-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 40px;
    
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
}

.service-title {
  font-weight: bold;
}
  .module > #services {
text-shadow: 0 1px 0 black;
  padding: 10px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}
.module > #services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
    }  
/* Pricing styles desktop*/
#pricing {
  padding: 40px;
  
}

   #pricing h1 {
  font-size: 30px;
  text-align: center;
  color: #F9A825;
  padding: 10px;
  border: 2px solid #F9A825;
  border-radius: 5px;
  background-color: #FDF5E6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.pricing-package {
  width: 24%;
  padding: 20px;
  background-color: #FDF5E6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pricing-package h3 {
  font-size: 20px;
  margin-top: 0;
  font-weight: bold;
  color: #F9A825;
}

.pricing-package ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

.pricing-package li {
  margin-bottom: 10px;
}

.pricing-package p.price {
  font-size: 24px;
  font-weight: bold;
  color: #F9A825;
  margin-bottom: 20px;
}

.pricing-package a.btn {
  display: inline-block;
  background-color: #F9A825;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pricing-package a.btn:hover {
  background-color: #fff;
  color: #F9A825;
  border: 2px solid #F9A825;
}

.divider {
  margin: 0 20px;
}
    
/* Contact section styles desktop*/
#contact {
      text-shadow: 0 1px 0 black;
  
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    background-color: transparent;
    
    
  }

.contact-info {
  margin-bottom: 20px;
    
}

.contact-info i {
  margin-right: 5px;
}

.contact-form {
  display: flex;
  justify-content: center;
    
}



/* Footer styles desktop*/
footer {
         text-shadow: 0 1px 0 black;
  
  color: #fff;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    background-color: transparent;
    padding: 10px;
  }
}